* {
  margin: 0;
  padding: 0;
}

.boxarrow {
  position: relative;
  top: 10vw;
  height: 40vh;
  width: 790px;
  margin: 0 auto;
}

.arrows {
  width: 48px;
  height: 48px;
  border-color: black;
  position: absolute;
  top: 57%;
  margin-top: -31px;
  z-index: 999;
}
#prev {
  border-bottom: 6px solid white;
  border-left: 6px solid;
  transform: rotate(45deg);
  left: 10px;
}

#next {
  border-bottom: 6px solid;
  border-left: 6px solid white;
  transform: rotate(-135deg);
  right: 10px;
}
#next:hover {
  border-bottom: 8px solid;
  border-left: 8px solid white;
  width: 50px;
  height: 50px;
  right: 8px;
}

#prev:hover {
  border-bottom: 8px solid white;
  border-left: 8px solid;
  width: 50px;
  height: 50px;
  left: 8px;
}

.arrows:active {
  border-bottom: 9px;
  border-left: 9px;
}

.pic-wrapper {
  position: absolute;
  top: 57%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  height: 600px;
  overflow: hidden;
  border-left: 50px solid rgba(222, 184, 135, 0.185);
  border-right: 50px solid rgba(222, 184, 135, 0.185);
  border-top: 7px solid rgba(222, 184, 135, 0.185);
  border-bottom: 7px solid rgba(222, 184, 135, 0.185);
  border-radius: 3px;
  /* box-shadow: 6px 6px rgb(241, 255, 249); */
  z-index: 999;
  background-color: rgba(222, 184, 135, 0.3);
}

.slides {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;

  /*animation*/

  animation: slideShow 24s linear infinite 0s;
  /* -o-animation: slideShow 24s linear infinite 0s;
  -moz-animation: slideShow 24s linear infinite 0s; */
  /* -webkit-animation: slideShow 24s linear infinite 0s; */
}

figurecaption {
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
}

.pic-1 {
  background: url(../img/top1.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.pic-2 {
  animation-delay: 6s;
  -o-animation-delay: 6s;
  -moz--animation-delay: 6s;
  -webkit-animation-delay: 6s;
  background: url(../img/top2.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.pic-3 {
  animation-delay: 12s;
  -o-animation-delay: 12s;
  -moz--animation-delay: 12s;
  -webkit-animation-delay: 12s;
  background: url(../img/top3.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.pic-4 {
  animation-delay: 18s;
  -o-animation-delay: 18s;
  -moz--animation-delay: 18s;
  -webkit-animation-delay: 18s;
  background: url(../img/top4.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.pic-5 {
  animation-delay: 24s;
  -o-animation-delay: 24s;
  -moz--animation-delay: 24s;
  -webkit-animation-delay: 24s;
  background: url(../img/top5.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.pic-6 {
  animation-delay: 30s;
  -o-animation-delay: 30s;
  -moz--animation-delay: 30s;
  -webkit-animation-delay: 30s;
  background: url(../img/top6.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.pic-7 {
  animation-delay: 36s;
  -o-animation-delay: 36s;
  -moz--animation-delay: 36s;
  -webkit-animation-delay: 36s;
  background: url(../img/top7.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
/* keyframes*/

@keyframes slideShow {
  0% {
    opacity: 0;
    transform: scale(1);
    -ms-transform: scale(1);
  }
  5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
    transform: scale(1.1);
    -ms-transform: scale(1.1);
  }

  100% {
    opacity: 0;
    transform: scale(1);
    -ms-transformm: scale(1);
  }
}
@-o-keyframes slideShow {
  0% {
    opacity: 0;
    -o-transform: scale(1);
  }
  5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
    -o-transform: scale(1.1);
  }
  100% {
    opacity: 0;
    -o-transformm: scale(1);
    display: none;
  }
}
/* @-moz-keyframes slideShow {
  0% {
    opacity: 0;
    -moz-transform: scale(1);
  }
  5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
    -moz-transform: scale(1.1);
  }
  100% {
    opacity: 0;
    -moz-transformm: scale(1);
  }
}
@-webkit-keyframes slideShow {
  0% {
    opacity: 0;
    -webkit-transform: scale(1);
  }
  5% {
    opacity: 1;
  }
  25% {
    opacity: 1;
  }
  30% {
    opacity: 0;
    -webkit-transform: scale(1.1);
  }
  100% {
    opacity: 0;
    -webkit-transformm: scale(1);
  } 
}*/
